<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wdretzer.nasaprojetointegrador">

    <queries>
        <provider android:authorities="com.facebook.katana.provider.PlatformProvider" />
        <provider android:authorities="com.facebook.orca.provider.PlatformProvider" />
    </queries>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".util.AppUtil"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NasaProjetoIntegrador"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".roversearch.RoversMissionActivity"
            android:exported="false" />
        <activity
            android:name=".roversearch.RoverSearchActivity"
            android:exported="false" />
        <activity
            android:name=".detalheplaneta.DetalhePlanetaTerra"
            android:exported="true" />
        <activity
            android:name=".detalheplaneta.DetalhePlanetaNetuno"
            android:exported="true" />
        <activity
            android:name=".detalheplaneta.DetalhePlanetaUrano"
            android:exported="true" />
        <activity
            android:name=".detalheplaneta.DetalhePlanetaVenus"
            android:exported="true" />
        <activity
            android:name=".detalheplaneta.DetalhePlanetaMercurio"
            android:exported="true" />
        <activity
            android:name=".detalheplaneta.DetalhePlanetaJupiter"
            android:exported="true" />
        <activity
            android:name=".detalheplaneta.DetalhePlanetaSaturno"
            android:exported="true" />

        <service
            android:name=".util.FirebaseMessageService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/perfil13" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/white" />

        <activity
            android:name=".perfil.PerfilCompleto"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" />
        <activity
            android:name=".favoritos.ImagemFavoritosActivity"
            android:exported="true" />
        <activity
            android:name=".imagensnasa.ImagensFavoritas"
            android:exported="true" />
        <activity
            android:name=".perfil.Perfil"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".detalheplaneta.DetalhePlanetaMarte"
            android:exported="true" />
        <activity
            android:name=".pesquisaimg.PesquisaImagens"
            android:exported="true" />
        <activity
            android:name=".menuprinipal.MenuPrincipalActivity"
            android:exported="true" />
        <activity
            android:name=".imagensnasa.DetalheImagem"
            android:exported="true" />
        <activity
            android:name=".cadastro.CadastroUsuarioFacebook"
            android:exported="true" />
        <activity
            android:name=".cadastro.CadastroUsuarioGoogle"
            android:exported="true" />
        <activity
            android:name=".cadastro.CadastroUsuario"
            android:exported="true" />
        <activity
            android:name=".imagensnasa.ImagensNasa"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".homeplanetas.HomePlanetas"
            android:exported="true"
            android:windowSoftInputMode="stateVisible|adjustResize|adjustPan" />
        <activity
            android:name=".login.Login"
            android:exported="true" />
        <activity
            android:name=".welcomescreen.WelcomeScreenActivity"
            android:exported="true" />
        <activity
            android:name=".splashscreen.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>